<%= content_for :context_nav do %>
  <div class='row-fluid'>
    <div class='col-md-4'>
      <%= link_with_icon 'Back', :back, 'arrow-left' %>
    </div>
    <div class='col-md-4 center'>
      <h1>System Settings</h1>
    </div>
    <div class='col-md-4 right'>
      <%= link_with_icon 'Edit', edit_settings_path, 'gear' %>
    </div>
  </div>
<% end %>


<div class='single-card-container card'>
  <div class='single-card-row'>
    <div class='single-card-content'>
      Company: <%= @setting.company %>
    </div>
  </div>
  <div class='single-card-row'>
    <div class='single-card-content'>
      Address: <%= @setting.address %>
    </div>
  </div>
</div>

