<%= form_for @contact, html: { role: 'form' } do |f| %>
  <div class='single-card-row'>
    <div class='single-card-content'>
      <%= f.label :name, class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class='single-card-row'>
    <div class='single-card-content'>
      <%= f.label :email, class: 'control-label' %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class='single-card-row'>
    <div class='single-card-content'>
      <%= f.label :address, class: 'control-label' %>
      <%= f.text_area :address, class: 'form-control' %>
    </div>
  </div>
  <div class='single-card-row'>
    <%= f.submit "Save", class: 'btn btn-primary btn-block' %>
  </div>
<% end %>