<!DOCTYPE html>
<html>
<head>
  <title>Paymii</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'navigation' %>
  <div id='context-nav' class='single-card'>
    <div class='container'>
      <%= content_for :context_nav %>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-3'>
        <div class='list-group right'>
          <% @configurables.each do |c| %>
            <%= link_with_icon c.name, setting_path(c.slug), settings_icon[c.slug], 
                                class: "list-group-item #{nav_active?(setting_path(c.slug))}" %>
          <% end %>
        </div>
      </div>
      <div class='col-xs-9'>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
